<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample" style="
    display: flex;
    justify-content: center;">
      <div class="accordion-body">
        <class class="container-fluid">
          <h3>Подбери себе ментора</h3>
        </class>
        <form action="/mentor/showall/serch" method="POST" class="d-flex">
           <select id="select" name='competencies'>
            <option disabled selected>Выберите компетенции</option>
            {{#each uniqueCompetencies}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>

          {{!-- <input name='' class="form-control me-2" type="search" placeholder="React, JavaScript ..." aria-label="Search"> --}}
          <button class="btn btn-outline-success" type="submit">Найти</button>
        </form>
      </div>
      </nav>
    </div>
  </div>
</div>
</div>


<div class='card-container' style="
    justify-content: space-evenly;
    display: flex;
">
  <div class="card" style="width: 11rem; height: 20rem">
    <img src="{{this.img}}" class="card-img-top" alt="..." name="avatar">
    <div class="card-body py-0">
      <p class="card-title">имя ментора</p>
      <p class="card-text">краткая инфа</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Тэги</li>
    </ul>
    <div class="card-body py-0">
      <a href="#" class="card-link">кнопка перехода в его профиль</a>
    </div>
  </div>
  <div class="card" style="width: 11rem; height: 20rem">
    <img src="{{this.img}}" class="card-img-top" alt="..." name="avatar">
    <div class="card-body py-0">
      <p class="card-title">имя ментора</p>
      <p class="card-text">краткая инфа</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Тэги</li>
    </ul>
    <div class="card-body py-0">
      <a href="#" class="card-link">кнопка перехода в его профиль</a>
    </div>
  </div>
  <div class="card" style="width: 11rem; height: 20rem">
    <img src="{{this.img}}" class="card-img-top" alt="..." name="avatar">
    <div class="card-body py-0">
      <p class="card-title">имя ментора</p>
      <p class="card-text">краткая инфа</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Тэги</li>
    </ul>
    <div class="card-body py-0">
      <a href="#" class="card-link">кнопка перехода в его профиль</a>
    </div>
  </div>
  <div class="card" style="width: 11rem; height: 20rem">
    <img src="{{this.img}}" class="card-img-top" alt="..." name="avatar">
    <div class="card-body py-0">
      <p class="card-title">имя ментора</p>
      <p class="card-text">краткая инфа</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Тэги</li>
    </ul>
    <div class="card-body py-0">
      <a href="#" class="card-link">кнопка перехода в его профиль</a>
    </div>
  </div>

</div>

<br>
<br>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body" style='display:flex; justify-content: space-around; align-items:center; height:10rem;color: yellowgreen;background-color: rebeccapurple;' >
    
    <div>
  <div>
    <p>0 занятий проведено.</p>
  </div>
</div>
    <div>
  
    <p class="card-text">0 учеников обучено.</p>
  
</div>
    <div>
  
    <p class="card-text">Миллион людей счастливо.</p>
  
</div>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
